* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#game-border {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../images/scenario.gif);
    background-size: 100% 100%;
    
}

#spike {
    position: absolute;
    width: 80px;
    bottom: 72px;
    right: 0;
    animation: spike 1.5s infinite linear;
    
}

#sonic {
    position: absolute;
    bottom: 80px;
    width: 150px;
    
    
}

#floor {
    position: absolute;
    width: 1245px;
    height: 80px;
    bottom: 0;
}

.jump {
    animation: jump 750ms ease-out ;
}

@keyframes spike {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 80px;
    }

    40% {
        bottom: 260px;
    
    }

    

    50% {
        bottom: 260px;
    
    }



    100% {
        bottom: 80px;
    
    }
}



